<% Category.order(:name).roots.each do |category| %>
  <li class="nav-item <%= "active" if current_page?(category_path(category)) %>"><%= link_to category.name, category, class: 'nav-link' %></li>
<% end %>