// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tag_cloud {
  margin-top: 2rem;
}

.tag1 {
  font-size: 1rem;
}
.tag2 {
  font-size: 1.2rem;
}
.tag3 {
  font-size: 1.4rem;
}
.tag4 {
  font-size: 1.6rem;
}
.tag5 {
  font-size: 1.8rem;
}